<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#delete-btn").on("click", function () {
            const productId = $('input[name="productId"]').val();
            $.ajax({
                type: "DELETE",
                url: "/api/products"+productId,
                success: function () {
                    alert(productId);
                }
            });
            alert(productId);
        });
    });
</script>
<section id="add" class="container">
    <div class="form-wrap">
        <h1>Delete A Product</h1>
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form>
            <div class="input-group">
                <label for="productId">Product id</label>
                <input type="number" name="productId" id="productId" class="input-box" placeholder="eg. 1, 2, 3, 4"  value={{productId}}>
            </div>
            <input type="submit" value="Delete Product" id="delete-btn" class="btn btn-reverse">
        </form>
    </div>
</section>
