<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#orderId").keyup(function() {
            if (!$(this).val()) {
                $("delete-btn").prop("disabled", true);
            } else {
                $("delete-btn").prop("disabled", false);
            }
        });
        $("#delete-btn").on("click", function () {
            const orderId = $('input[name="orderId"]').val();
            $.ajax({
                method: "DELETE",
                url: "/api/orders/"+orderId,
            });
            window.location.href="http://localhost:8888/api/orders";
            alert(orderId);
        });
    });
</script>
<section id="add" class="container">
    <div class="form-wrap">
        <h1>Delete A Order</h1>
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form>
            <div class="input-group">
                <label for="orderId">Order id</label>
                <input type="number" name="orderId" id="orderId" class="input-box" placeholder="eg. 1, 2, 3, 4"  value={{orderId}}>
            </div>
        </form>
        <button id="delete-btn" class="btn btn-reverse">Delete Order</button>
    </div>
</section>
