<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#find-btn").on("click", function () {
            const productName = $('input[name="productName"]').val();
            $.ajax({
                method: "GET",
                url: "/api/products/"+productName,
            });
            alert(productName);
        });
    });
</script>
<section id="add" class="container">
    <div class="form-wrap">
        <h1>Find A Product</h1>
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form action="search" method="GET">
            <div class="input-group">
                <label for="productNameSearch">Product Name</label>
                <input type="text" name="productName" id="productNameSearch" class="input-box" placeholder="eg. ASus, Msi...">
            </div>
        </form>
        <button id="find-btn" class="btn btn-reverse">Find Product</button>
    </div>
</section>
