<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#find-btn").on("click", function () {
            const clientId = $('input[name="clientId"]').val();
            $.ajax({
                method: "GET",
                url: "/api/orders/"+clientId,
            });
        });
    });
</script>
<section id="add" class="container">
    <div class="form-wrap">
        <h1>Find A Order</h1>
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form action="search" method="GET">
            <div class="input-group">
                <label for="clientIdSearch">Client Id</label>
                <input type="number" name="clientId" id="clientIdSearch" class="input-box" placeholder="eg. 1, 2, 3...">
            </div>
            <input type="submit" value="Find Order" class="btn btn-reverse">
        </form>
    </div>
</section>
