<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#find-btn").on("click", function () {
            const discountName = $('input[name="fullName"]').val();
            $.ajax({
                method: "GET",
                url: "/api/delivery/"+discountName,
            });
        });
    });
</script>
<section id="add" class="container">
    <div class="form-wrap">
        <h1>Find Discount</h1>
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form action="search" method="GET">
            <div class="input-group">
                <label for="deliveryNameSearch">Delivery Name</label>
                <input type="text" name="deliveryName" id="deliveryNameSearch" class="input-box" placeholder="eg. Cдек, Почта." required>
            </div>
            <input type="submit" value="Find Product" class="btn btn-reverse">
        </form>
    </div>
</section>
