<section id="add" class="container">
    <div class="form-wrap">
        <h1>Delete A Product</h1>
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form action="search/" method="GET">
            <div class="input-group">
                <label for="productId">Product id</label>
                <input type="number" name="productId" id="productId" class="input-box" placeholder="eg. 1, 2, 3, 4"  value={{productId}}>
            </div>
            <input type="submit" value="Delete Product" class="btn btn-reverse">
        </form>
    </div>
</section>
